.container {
    width: 11.875rem;
    height: 17.37506rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
}

.button {
    width: 48px;
    height: 48px;
}

.right {
    padding-left: 1.13rem;
    right: 0;
}

.left {
    justify-content: flex-end;
    left: 0;
    padding-right: 1.13rem;
}