.main {
    position: relative;
}

.container {
    width: 26rem;
    height: 17.37506rem;
    padding: 2.25rem 2.69rem 0px 2.5rem;
    margin-right: 3.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container:hover {
    transform: translate(4px, -4px);
}

.rect-first-bg {
    position: absolute;
    width: 26rem;
    transform: scale(0.995);
    height: 17.37506rem;
    background: url('/images/first-bg.png') no-repeat;
    z-index: -1;
}


.rect-line {
    border-radius: 0.6875rem;
    width: 2.875rem;
    height: 0.25rem;
    margin-bottom: 1.81rem;
}


.card-title {
    font-family: 'NEXT-Book-Bold', sans-serif;
}

.card-tag {
    display: flex;
    flex-direction: row;
}

.card-begin {
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    border: 1px solid #676767;
    width: 4.2rem;
    text-align: center;
    font-family: "Next-Book";
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin: 1rem 0;
    margin-right: 1rem;
}

.info {
    margin-top: 2.19rem;
    color: var(--Text-text-gray, #676767);
    font-family: "NEXT-Book";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 0.825rem */
}

.info-box {
    display: flex;
    justify-content: space-between;
    padding: 0.31rem 0;
    margin-top: 0.56rem;
    border-bottom: 1px solid #282828;;
}

.card-desc {
    color: var(--Text-text-gray, #676767);
    font-family: "NEXT Book";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    width: 22rem;
}

.card-footer {
    margin-top: 2.75rem;
    display: flex;
    width: 23.75rem;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--Text-text-white---on-dark, #F2F2F2);
    font-family: "LightFont";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    margin-right: 1.25rem;
}



.footer-flex-text {
    margin-left: 0.375rem;
    height: 0.875rem;
}

.footer-btn {
    margin-right: 0;
    border-radius: 2.5rem;
    background: var(--button-card-dark-gray-button, #2A2A2A);
    padding: 0.5rem 1rem;
}

.footer-flex-text-btn {
    color: var(--status-Progress-green, #9EFA13);
    text-align: right;
    font-family: "NEXT Book";
    font-size: 0.625rem;
    height: 0.875rem;
    font-style: normal;
    font-weight: 400;
}