.flex{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: -moz-scrollbars-none; /* Firefox */
    overflow: scroll;
    scrollbar-color: transparent; /* Chrome and Safari */
}

.flex::-webkit-scrollbar {
    width: 0; /* Chrome and Safari */
    height: 0;
  }