.flex {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding-left: 124px;
    padding-right: 200px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
    /* Firefox */
    overflow: scroll;
    scrollbar-color: transparent;
    /* Chrome and Safari */
}

.flex::-webkit-scrollbar {
    width: 0;
    height: 0;
}